html, body, .root, .carousel, .home_wrapper {
  height: 100%;
  margin: 0;
	width: 100%;
	overflow-x: hidden;
}
.navigationBar {
	height: 100px;
	vertical-align: middle;
	display: table-cell;
	margin: 30px 0;
}
.navigation_wrapper {
	height: 54px;
	vertical-align: middle;
	display: table-cell;
}
.nav>li {
	display: inline-block;
}
.nav-link {
	cursor: pointer;
	font-size: 16px;
	color: #000;
}
.home_img_width {
	width: 62%;
}
.homepageNav.home_img_width {
	width: 55%;
}
.modal-content {
	text-transform: initial;
}
.modal-content input {
	margin-right: 5px;
}
.signin_form {
	padding-left: 20px;
}
.modal_h4 {
	margin-bottom: 25px;
	text-transform: initial;
	color: black;
	text-align: left
}
.modal_p {
		width: 23%;
		font-size: 14px;
    text-transform: initial;
    border: 1px solid #ccc;
    padding: 5px 0;
		margin-bottom: 0;
		padding-left:7px;
    display: table-cell;
		vertical-align: middle;
		text-align: left
}
.modal_c {
	width: 40%;
	font-size: 14px;
	text-transform: initial;
	border: 1px solid #ccc;
	padding: 5px 0;
	margin-bottom: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: left
}
.modal_b {
	width: 10%;
	font-size: 14px;
	text-transform: initial;
	border: 1px solid #ccc;
	padding: 5px 0;
	margin-bottom: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.modalB:disabled {
	opacity: 0.5;
	cursor: auto;
}
.modalB{
	border-radius: 20px;
    padding: 0px 15px;
    background: rgba(0,0,0);
		border-color: #000;
		color: white;
}
.app_details p span{
	color: black;
}
.app_details {
	width: 100%;
	display: table;
	color: #000;
}
/* Titles Section */
.title-container__title {
	color: #1f1f2e;
	font-weight: 800;
	font-size: 2rem;
  margin-top: 45px; 
}
.title_text {
	margin-bottom: 50px;
}
.btn-primary {
	border-radius: 20px;
	padding: 8px 40px;
	background: rgba(0,0,0,0.6);
	border-color: #000;
}
.btn-primary:hover {
	background: rgba(0,0,0,1);
}
.form-control {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #666;
	box-shadow: none;
	width: 80%;
	padding-left: 0;
	margin-bottom: 20px;
}
.col-lg-2 .form-control {
	width: 100%;
}
#controlled-tab-example-tabpane-product_info .col-lg-1 {
	padding: 0;
}
.form-control:focus {
	outline: none;
	border-color: #000;
	box-shadow: none;
	color: #666;
}

.registerwithustext p {
	margin-bottom: 30px;
}

/* Work In pRogress modal */
.wipModalBody {
	width: 100%;
	text-align: center;
	font-size: 18px;
	color:#1f1f2e;
}
.modal-footer {
	border: 0;
	width: 100%;
	text-align: center;
}

/* Register Page CSS */
.reg-center{
	text-align: center;
}
.bold-head{
	font-weight: bold;
	font-size: 35px;
}
.bold{
	font-weight: bold;
	font-size: 17px;
}
.wd{
	width: 1060px;
	border: 1px solid lightgrey;
	padding-left: 10px;
}
.hr{
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}
.right{
	float: right;
}
.text-red{
	color: red;
}
.btn-cancel {
	border-radius: 20px;
	padding: 8px 40px;
	background: #fff;
	border-color: #000;
}
.tab-content {
	padding-bottom: 50px;
}
.tab-pane {
	padding-top: 30px;
}

.react-inputs-validation__msg___pxv8o.react-inputs-validation__error___2aXSp {
	color: red;
	margin-bottom: 10px;
}

/* Media Queries */
@media (min-width: 992px) {
	.container {
		max-width: 970px;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 90vw;
		width: 100%;
	}
}
@media (max-width: 992px) {
	.title-container__subtitle {
		font-size: 15px;
	}
	.title-container__title {
		font-size: 35px;
		margin-top: 155px;
		text-transform: uppercase;
	}
	input[type="text"],
	button	{
		width: 100%;
		max-width: inherit;
	}
	.form-container {
		padding-right: 50px;
	}
	.weather-info {
		margin: 30px 0;
	}
	.title-container {
		height:50vh;
		background-position: top center;
	}
	.main,
	.wrapper	{
		height: 100%;
	}
}

/*dashboard*/
.pad-top{
	padding-top: 10px;
}
.dash {
	color: white;
    border-radius: 0px;
    padding: 8px 40px;
    background:#1f1f2e;
		border-color: #000;
		border-radius: 20px;
}
.dash :hover{
	color: white !important;
}
.margin-bottom{
    margin-bottom: 25px;
}
.bg-grey{
		background-color: #fff;
}
.margin-top{
    margin-top: 25px;
}
.dash-head{
    font-size:30px;
}
.search {
    width: 100%;
    position: relative
  }
 
  .searchTerm {
    float: left;
    width: 30%;
		margin-right: 20px;
		border-radius: 4px;
  }
  .modal .modal-header img {
		width: 100%;
	}
  
  .searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  .w3-example {
    background-color: #f1f1f1;
		padding: 0.01em 16px;
		padding-top: 8px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.th-sm{
    background-color: gray;
    color: white;
}
.btn-go{
	margin-bottom: 10px;
}
.bgcolor{
	background: lightgrey;
}
.reg-head{
	background: lightgrey;
	margin: 0 0 15px;
	padding: 20px;
	width: 100vw;
	position: relative;
	right: 5.6%;
	top: 4px;
}
.reg-head p {
	font-size: 0.925rem;
}
.border-tab{
	border:1px solid black;
}
.mar-bot
{margin-bottom: 10px;
}
.center{
	text-align: center;
}
.nav-link.active{
	color: black !important;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
	font-size: larger;
}
.border-tab .nav-link {
	cursor: pointer;
	font-size: 16px;
	color: darkgray;
}
#controlled-tab-example-tabpane-primary_contact .form-control,
#controlled-tab-example-tabpane-general_info .form-control {
	width: 50%;
}
.tab-content>.tab-pane {
	padding: 25px;
	border: 1px solid #000;
	border-top:0
}
.tab-content .wd {
	border: 0;
}
.border-tab {
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
#controlled-tab-example-tabpane-primary_contact,
#controlled-tab-example-tabpane-general_info {
	padding-left: 150px;
}
.mar-bot {
	position: relative;
  right: 15%;
} 
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: #e9ecef #e9ecef transparent;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border-color: #000 #000 #fff;
	border-radius: 0;
	font-size: 18px;
}
.dashboardnav.navigationBar {
	height: 40px;
}
.dashboardnav .home_img_width,
.register .home_img_width {
	width: 52% !important;
}

.btn_wrapper {
	float: left;
	width: auto;
	margin: 0 0 10px;
}
.table thead th {
	border-bottom: 2px solid #000;
}
.MuiSelect-select-20:focus {
	background: transparent !important;
}
.tooltip_attached {
	background: #000;
    font-size: 0.8rem;
    border-radius: 25px;
    width: 26px;
    padding: 2px;
}
.form-control.country_code {
	width: 10% !important;
	float: left;
	margin-right: 25px;
}
.form-control.phone_number {
	width: 36.5% !important;
}
.country_phone_wrapper {
	position: relative;
}
.country_phone_wrapper div.react-inputs-validation__msg___pxv8o.react-inputs-validation__error___2aXSp {
	width: 100%;
	float: left;
}
#controlled-tab-example-tabpane-primary_contact .country_phone_wrapper div.react-inputs-validation__msg___pxv8o.react-inputs-validation__error___2aXSp {
	width: 100%;
	float: left;
	position: inherit;
}